.example-container {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  position: relative;
  left:400px;
  top:100px;
border:1px solid black;
width: 300px;
}
firstName
{
   width:100%;
}
button{
  margin-right: 8px;
}
body{
    background-image: url(../../assets/img/register.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h4{
    position: relative;
    right: 80px;
    top:80px;
   
}
.header
{
  border-style: 2px solid black;
}