<div class="heading">
    <h4><b>Book Details</b></h4>
   </div>
    <hr>
    <div class="content">
    <h5>Title : {{data.selectedBook.title_suggest}}</h5>
   <br>
 <h5>Author name : {{data.selectedBook.author_name}}</h5>
  <br>
 <h5>Subtitle : {{data.selectedBook.subtitle}}</h5> 
  <br>
 <h5>Publisher : {{data.selectedBook.publisher}}</h5>
  <br>
  <h5>Publish_Year : {{data.selectedBook.publish_year}}</h5>
 <hr>
<button class="w3-button w3-blue-grey"  (click)="onCloseCancel()">Cancel</button>
  
</div>
